* {
  box-sizing: border-box;
}

@font-face {
  font-family: FG_Italic;
  src: url(fonts/franklin-gothic/FranklinGothicLightItalic.ttf);
}

@font-face {
  font-family: FG_Light; 
  src: url(fonts/franklin-gothic/FranklinGothicLight.ttf);
}

body {
  margin: 12px;
  font-size: 24px;
  font-family: FG_Light; 
  padding: 15px;
}

a {
    color: #333;
}

.header {
  text-align: center;
}

.text_container {
  padding: 15px;
  border-style: solid;
  border-color: #333;
  overflow: hidden;      
}

.pull_quote {
  opacity: .6;
  padding-left: 30%;
  padding-bottom: 32px;
  font-size: 30px;
  font-family: FG_Italic;
}

.stanislav {

  text-indent: 50px;
  font-size: 30px;
  font-family:  FG_Italic;
}
