* {
  box-sizing: border-box;
}

@font-face {
  font-family: FG_Light;
  src: url(fonts/franklin-gothic/FranklinGothicLight.ttf);
}

body {
  margin: 0;
  font-family: FG_Light;   
}

.header {
  text-align: center;
}

.container {
  padding: 32px;
}